
<h1>To Do</h1>

<!-- tabel of current tasks for the williams family.  Need to add some borders, padding and margins.  Center table.
edit and delete options are available in each particular task view.  User must take those steps to reach the
edit/delete options. -->

<table>
  <tr>
    <th>---- Assigned to ----</th>
    <th>--- Task ---</th>
    <th>--</th>
  </tr>

<% @tasks.each do |task| %>
    <tr>
      <td><%= task.who %></td>
      <td><%= task.name %></td>
      <td><%= link_to '... open task', task_path(task) %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'Add a task to the list.', new_task_path %>
