
<h1>Code Louisville 2019 Ruby</h1>

<h2>The Williams Family To Do List</h2>

<p>Full disclosure this is not my first option for my final project, but found myself running short on time and needing
to have something, anything, to show.  This simply task list will have a place to title or name a task.  Tasks like
grocery shopping, or doctors appointments.  Assign a family memeber or designate it as un-assigned, and fill out details
of the particular task.</p>

<%= link_to 'Williams Family To Do', controller: 'tasks' %>
