<div class="standard">

	<h1>The Williams Family To Do List</h1>

		<div class="blurb">
		<p>Full disclosure this is not my first option for my final project, but found myself running short on time and needing
		to have something, anything, to show.  This simply task list will have a place to title or name a task.  Tasks like
		grocery shopping, or doctors appointments.  Assign a family member, and fill out details of the particular task.</p>
		</div>

	<h2><%= link_to 'Click Here to Run the App', controller: 'tasks' %></h2>

	<h3>Code Louisville 2019 Ruby</br>
	Alexandra Schachtner</h3>

</div>
